* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #003366;
    position: sticky;
    top: 0;
  z-index: 1000;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s 
ease;
    font-weight: 500;
}

.nav-links a:hover {
color: #ffffff;
}
.logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section{
     display: flex;
     justify-content: center;
     align-items: center;
}
   
.hero-content{
  height: 600px;
  width: 500px;
  margin-top: 70px;
   
}
.hero-image{
  height: 600px;
  width: 500px;
  margin-bottom:90px;
}


.greeting {
    color: #0066CC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.chinedu {
    font-size: 3.5rem;
    color: #003366;
    line-height: 1.1;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.5rem;
    color: #666666;
    font-weight: 400;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666666;
    margin-bottom: 30px;
    font-size: 1.1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.pry-btn {
    background-color: #003366;
    color: #ffffff;
    margin-right: 15px;
    border: 2px solid #003366;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s 
ease;
}
.pry-btn:hover {
    background-color: #ffffff;
    color: #003366;
     transition: all 0.3s 
ease;
}

.sdy-btn {
    background-color: #ffffff;
    color: #003366;
    margin-right: 15px;
    border: 2px solid #003366;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s 
ease;
}

.sdy-btn:hover {
    background-color: #003366;
    color: #ffffff;
     transition: all 0.3s 
ease;
}

.hero-image{
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    border: 8px soid #f4f7f6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.skills_sect{
    padding: 80px 10%;
    background-color: #f4f7f6;
}

.skills_header {
    text-align: center;
    margin-bottom: 50px;
 }

.skills_header h2 {
    font-size: 2.5rem;
    color: #003366;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.skills_header p {
    color: #666666;
    margin-top: 10px;
    display: inline-block;
}

.skills_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.skill-icon {
    font-size: 2.5rem;
    color: #0066cc;
    margin-bottom: 20px;
}

.skills_cards h3{
    margin-bottom: 15px;
    color: #003366;
}

.cards{
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s 
ease;
}

.cards:hover {
    transform: translateY(-10px);
    background-color: #003366;
    color: #ddd;
    transition: all 0.3s 
ease;
}

.skill-tags span {
    display: inline-block;
    background: #f4f7f6;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.85rem;
    margin: 3px;
    color: #333333;
}

.experience_sect{
    padding: 80px 10%;
}

.work-div h2 {
    font-size: 2.5rem;
    color: #003366;
    font-weight: bold;
    text-align: center;
}

.experience_card {
    background: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
    border-left: 5px solid #003366;
    border-radius: 0 5px 5px 0;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.exp-role{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}

.exp-date {
    color: #666666;
    font-style: italic;
}

.exp-company {
    color:#0066cc;
    font-weight: 600;
}

footer {
    background-color: #003366;
    color:#ffffff;
    padding: 50px 10%;
    text-align: center;
}
footer h2 {
    display: inline-block;
    margin-bottom: 70px;
    color: #ffffff;
}

.social-links i {
    margin: 20px 0;
    font-size:32px ;
    background-color: #f4f7f6;
}

.number {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




